.home{
    margin-top: 50px;
    margin-bottom: 50px;
}
.home .content{
    width: 500px;
}
.home .content h1{
    color: var(--main_color);
    font-size: 40px;
    line-height: 1.5;
    position: relative;
    z-index: 1;
}
.home .content h1::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
    right: 120px;
    top: -10px;
    z-index: -1;
}
.home .content p{
    font-size: 15px;
}
@media (max-width: 980px) {
    .home .container{
        flex-wrap: wrap;
        margin-top:50px;
        justify-content: center;
    }
    .home .container>div{
        margin-top: 20px;
    }
    .home .content h1{
        font-size: 30px;
    }
    .home .content .search{
        display: flex;
        flex-wrap: nowrap;
    }
}