:root {
  --main_color: #204961;
  --second_color:#fc9922  ;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 980px) {
  .container{
      flex-wrap: wrap; 
      justify-content: center;
  }
}
/* Small */
@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}
.firstPage{
  overflow: hidden;
}
.flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.button{
  color: white;
  background-color: var(--main_color);
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}
.button:hover{
  transform: scale(1.1); 
  background-color: var(--hover_color);
}
.parg{
  color:#8c8b8b;
  font-size: 14px;
  margin-top: 0px;
}
.mainImg{
  width: 700px ;
  overflow: hidden;
}
.mainImg > img{
  width: 100%;
  height: 100%;
}
.icon{
  color:#4066ff;
  background-color: #eeeeff;
  width: 40px ;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-radius: 5px;
}
@media (max-width: 980px) {
  .flexBetween{
    display: block;
  }
  .orangeText{
    font-size: 19px;
    text-align: center;
  }
  .blueText{
    font-size: 24px;
    text-align: center;
  }
}